<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yjo.coxld">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBK56LFzHYXhTE2eOxRu4q68RzWOryNDa8" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".Reg" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".chat.MassgeActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".qjsdurActivity" />
        <activity android:name=".WeaActivity" />
        <activity android:name=".Weather" />
        <activity android:name=".SimSimi" />
        <activity android:name=".SearchActivity"></activity>
    </application>

</manifest>